@import "_variables.scss";

body {
  padding: 0;
  margin: 0;
}

#root {
  .AppContainer {
    height: 100vh;

    header {
      height: $header-height;
    }

    .ContentContainer {
      height: calc(100vh - #{$header-height});
      overflow: hidden;
    }
  }
}

.mdl-layout__drawer-button .material-icons {
  display: none;
}

.mdl-layout__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@import "Logs";